<h1><%= @name %></h1>
<hr>
<h3>Tags</h3>
<% if @container_tags.empty? %>
  No Tags Found
<% else %>
  <% for tag in @container_tags do %>
    <a href="/container/<%=@name%>/<%=tag%>"><%=tag%></a> &nbsp; &nbsp;
  <%end%>
<%end%>
