<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">

  <!-- bootstrap theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.css" crossorigin="anonymous">

  <!-- font awesome -->
  <link rel="stylesheet" href="css/font-awesome.min.css" crossorigin="anonymous">

  <!-- application css -->
  <link rel="stylesheet" href="css/app.css" crossorigin="anonymous">

  <!-- jquery -->
  <script src="js/jquery-3.1.0.min.js" defer></script>

  <!-- bootstrap js -->
  <script src="js/bootstrap.min.js" defer></script>

  <!-- bootbox -->
  <script src="js/bootbox.min.js" defer></script>

</head>
<body>
  <div id="app"></div>
  <script src="js/bundle.js" defer></script>
</body>
</html>
