html, body{
  height:100%;
}

.footer-pad {
  padding-top: 100px;
}

.loader {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9999;
}

.spinner {
  position: fixed;
  top: 500px;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9999;
}

.col-left-border {
  min-height: 400px;
  height:100%;
  border-left: 1px solid #aaa;
}

.trash {
  padding-bottom: 10px;
}

.trash a {
  text-decoration: none;
  color: red;
}

.trash a:hover span {
  color: red;
}

.trash a span {
  color: transparent;
}



/* Remove focus outline on buttons */
.list-group-item:focus {outline:none;}
